<div id="contact-banner" xmlns="http://www.w3.org/1999/html"></div>
      
      <div class="horizontal-rule"></div>
       
      <div class="content-wrapper">
          <!-- Two Third Start -->
          <div class="content-two-third-wrapper">
          	<header class="content-two-third-header"></header>
              <div class="content-two-third-background">
                  <div class="content-two-third-body">
                      <h1>Contact Us</h1>
                      <div class="content-horizontal-rule"></div>
                        <div id="contactarea">
                        <p>Please use the form below to contact us.</p>
                          <p><%= form_tag('/contact', id: 'contactform', name: 'contactform') do %>
                            <table width="580" cellpadding="0" cellspacing="0">
                              <tr>
                                <td width="61">Full Name:</td>
                                <td width="176"><%= text_field_tag 'name', nil, class: 'contact-input', title: 'Please enter your full name' %></td>
                                <td width="78" class="contact-margin">Email Address:</td>
                                <td width="245"><%= text_field_tag 'email', nil, class: 'contact-input', title: 'Please enter a valid email address' %></td>
                              </tr>
                              <tr>
                                <td>Message:</td>
                                <td colspan="3"><%= text_area_tag 'msg', nil, class: 'contact-message', title: 'Please enter your message', rows: '10' %></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td><%= submit_tag 'Send Email', class: 'contact-submit' %></td>
                              </tr>
                              <tr><%= text_field_tag 'negative_captcha', nil, class: 'negative_captcha' %></tr>
                            </table>
                          <% end %>
                          <br/>
                          <%= flash[:success] %>
                        </p>
                    </div>
                  </div>
              </div>
              <div class="content-two-third-footer"></div>
          </div>
          <!-- Two Third End -->
          
          <!-- One Third Start -->
          <div class="content-second-one-third-wrapper">
          	<header class="content-one-third-header"></header>
              <div class="content-one-third-background">
                  <div class="content-one-third-body">
                      <h1>Prompt Service</h1>
                      <div class="content-horizontal-rule"></div>
                      <p>Do you need an urgent response? We guarantee a 24 hour response time to help you in your time of need.</p>
                  </div>
              </div>
              <div class="content-one-third-footer"></div>
          </div>
          <!-- One Third End -->
      </div>

  <!-- Tooltip Script Start -->
  <script type="text/javascript">
  	$(function(){
  		$(".contact-input").tipTip({defaultPosition: "right", maxWidth: "200px", edgeOffset: 20});
  		$(".contact-message").tipTip({defaultPosition: "right", maxWidth: "200px", edgeOffset: 20});
  	});
  </script>
  <!-- Tooltip Script End -->
